## Flight Price Prediction(EDA + Feature Engineering)

In [ ]:
#importing basics libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
train_df=pd.read_excel('Data_Train.xlsx')
train_df.head()

In [ ]:
test_df=pd.read_excel('Test_set.xlsx')
test_df.head()

In [ ]:
final_df=train_df.append(test_df)
final_df.head()

In [ ]:
final_df.tail()

In [ ]:
final_df.info()

In [ ]:
final_df['Date_of_Journey'].str.split('/').str[0]
#date number is extracted in this way from the whole date

In [ ]:
##Feature Engineering Process
#splitting the date into day, month, year
final_df['Date']=final_df['Date_of_Journey'].str.split('/').str[0]
final_df['Month']=final_df['Date_of_Journey'].str.split('/').str[1]
final_df['Year']=final_df['Date_of_Journey'].str.split('/').str[2]

In [ ]:
final_df.head(2)

In [ ]:
'''#using lambda function - no need to run
df["Date"]=df['Date_of_Journey'].apply(lambda x:x.split("/")[0])
df["Month"]=df['Date_of_Journey'].apply(lambda x:x.split("/")[1])
df["Year"]=df['Date_of_Journey'].apply(lambda x:x.split("/")[2])
'''

In [ ]:
#converting each of the new column into integer
final_df['Date']=final_df['Date'].astype(int)
final_df['Month']=final_df['Month'].astype(int)
final_df['Year']=final_df['Year'].astype(int)

In [ ]:
final_df.info()

In [ ]:
#now we can drop date of journey
final_df.drop('Date_of_Journey',axis=1,inplace=True)

In [ ]:
final_df.head()

In [ ]:
#arrival time - I need only the time and not the date
final_df['Arrival_Time'].str.split(' ').str[0]

In [ ]:
final_df['Arrival_Time']=final_df['Arrival_Time'].apply(lambda x : x.split(' ')[0])

In [ ]:
#splitting the arrival time into arrival hour and arrival min
final_df['Arrival_hour']=final_df['Arrival_Time'].str.split(':').str[0]
final_df['Arrival_min']=final_df['Arrival_Time'].str.split(':').str[1]

In [ ]:
final_df.head()

In [ ]:
final_df['Arrival_hour']=final_df['Arrival_hour'].astype(int)
final_df['Arrival_min']=final_df['Arrival_min'].astype(int)

In [ ]:
#now we can remove the arrival time column
final_df.drop('Arrival_Time',axis=1,inplace=True)

In [ ]:
final_df.head()

In [ ]:
#the same operations for departure time as was for arrival time
final_df['Dept_hour']=final_df['Dep_Time'].str.split(':').str[0]
final_df['Dept_min']=final_df['Dep_Time'].str.split(':').str[1]
final_df['Dept_hour']=final_df['Dept_hour'].astype(int)
final_df['Dept_min']=final_df['Dept_min'].astype(int)
final_df.drop('Dep_Time',axis=1,inplace=True)

In [ ]:
final_df.info()

In [ ]:
#total unique stops
final_df['Total_Stops'].unique()

In [ ]:
final_df['Total_Stops']=final_df['Total_Stops'].map({'non-stop':0,'1 stop':1,'2 stops':2,'3 stops':3,'4 stops':4,'nan':1})

In [ ]:
final_df[final_df['Total_Stops'].isnull()]

In [ ]:
#route - drop it now
final_df.drop('Route',axis=1,inplace=True)

In [ ]:
final_df.head()

In [ ]:
final_df['Additional_Info'].unique()

In [ ]:
final_df.info()

In [ ]:
#duration
final_df['duration_hour']=final_df['Duration'].str.split(' ').str[0].str.split('h').str[0]

In [ ]:
#in duration there are 5m values - not possible
final_df[final_df['duration_hour']=='5m']

In [ ]:
#dropping the above two datapoints
final_df.drop(6474,axis=0,inplace=True)
final_df.drop(2660,axis=0,inplace=True)

In [ ]:
final_df['duration_hour']=final_df['duration_hour'].astype('int')

In [ ]:
#now we can drop the duration column
final_df.drop('Duration',axis=1,inplace=True)

In [ ]:
final_df.head()

In [ ]:
final_df['Airline'].unique()
#label encoding for them- too many categories
#similar for source, destination, additional_info
#dont use one hot encoding from dummies and rather use one hot encoder from sklearn.preprocessing import OneHotEncoder

In [ ]:
from sklearn.preprocessing import LabelEncoder
labelencoder=LabelEncoder()

In [ ]:
final_df['Airline']=labelencoder.fit_transform(final_df['Airline'])
final_df['Source']=labelencoder.fit_transform(final_df['Source'])
final_df['Destination']=labelencoder.fit_transform(final_df['Destination'])
final_df['Additional_Info']=labelencoder.fit_transform(final_df['Additional_Info'])

In [ ]:
final_df.shape

In [ ]:
final_df.head(2)

In [ ]:
final_df[['Airline']]

In [ ]:
'''from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()
final_df['Airline'] = ohe.fit_transform(final_df['Airline'])
'''#in this way any of the above variable can be converted to OHE

In [ ]:

ohe.fit_transform(np.array(final_df['Airline']).reshape(-1,1))

In [ ]:
final_df.head()

In [ ]:
final_df.info()

In [ ]:
#using dummies
pd.get_dummies(final_df,columns=["Airline", "Source", "Destination"] ,drop_first = True)